---
- name: "Install UFW firewall"
  ansible.builtin.apt:
    name: ufw
    state: present

- name: "UFW: Reset UFW to factory defaults"
  ansible.builtin.command: ufw --force reset
  changed_when: true

- name: "UFW: Set default policy to DENY incoming"
  community.general.ufw:
    policy: deny
    direction: incoming

- name: "UFW: Allow SSH (22) from ironhide and runner only"
  community.general.ufw:
    rule: allow
    port: '22'
    proto: tcp
    from_ip: "{{ item }}"
  loop:
    - "{{ ironhide_ipv4 }}"
    - "{{ ironhide_wifi_ipv4 }}"
    - "{{ hostvars['runner_alpha']['ansible_host'] }}"

- name: "UFW: Allow HTTP/HTTPS from ironhide"
  community.general.ufw:
    rule: allow
    port: "80,443"
    proto: tcp
    from_ip: "{{ item }}"
  loop:
    - "{{ ironhide_ipv4 }}"
    - "{{ ironhide_wifi_ipv4 }}"

- name: "UFW: Allow DNS (53 UDP)"
  community.general.ufw:
    rule: allow
    port: '53'
    proto: udp

- name: "UFW: Allow DNS (53 TCP)"
  community.general.ufw:
    rule: allow
    port: '53'
    proto: tcp

- name: "UFW: Allow Full-Trust from other DNS servers (IPv4 and IPv6)"
  community.general.ufw:
    rule: allow
    proto: any
    from_ip: "{{ item }}"
    comment: "Keepalived Sync for {{ item }} (VRRP)"
  loop:
    - "{{ hostvars[partner_hostname]['ansible_host'] }}"
    - "{{ hostvars[partner_hostname]['ansible_host_ipv6'] }}"
    - "fe80::/10" # for VRRP hearbeat
  vars:
    # all names of the partners in that group
    partner_hostname: "{{ groups['dns_group'] | reject('equalto', inventory_hostname) | first }}"
  become: true
