.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.auto.tfvars
!*.sops.tfvars
terraform.tfvars
.api_url
ansible/inventory.ini
ansible/collections/
.ansible/lock
**/*.jwk
!**/*.sops.jwk
**/*.tfplan
*.tfplan
**/*.plan
*.plan
*.env
*-secret.yaml
secrets.yaml
!*.sops.yaml
*-secret.yml
secrets.yml
!*.sops.yml
