services:
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:{{ npm_version | default("2.12.6") }}'
    container_name: {{ inventory_hostname }}
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '127.0.0.1:81:81'
    volumes:
      - {{ npm_mount_base }}/data:/data
      - {{ npm_mount_base }}/letsencrypt:/etc/letsencrypt
    env_file:
      - {{ npm_base_dir }}/{{ inventory_hostname }}.env
    depends_on:
      - db
    networks:
      - proxy1-network

  db:
    image: 'mariadb:{{ npm_db_version | default("10.9") }}'
    container_name: {{ inventory_hostname }}_db
    restart: unless-stopped
    env_file:
      - {{ npm_base_dir }}/{{ inventory_hostname }}_db.env
    volumes:
      - {{ npm_mount_base }}/db:/var/lib/mysql
    networks:
      - proxy1-network

networks:
  proxy1-network:
    driver: bridge
