services:
  gitea_db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER={{vault_postgres_user}}
      - POSTGRES_PASSWORD={{vault_postgres_password}}
      - POSTGRES_DB={{vault_postgres_db}}
    networks:
      - gitea
    volumes:
      - /mnt/tank/gitea/db/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{vault_postgres_user}} -d {{vault_postgres_db}}"]
      interval: 10s
      timeout: 5s
      retries: 5
  gitea_app:
    image: gitea/gitea:latest
    restart: always
    depends_on:
      - gitea_db
    networks:
      - gitea
    volumes:
      - /mnt/tank/gitea/app/data:/data
    environment:
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea_db:5432  
      - GITEA__database__NAME={{vault_postgres_db}}
      - GITEA__database__USER={{vault_postgres_user}}
      - GITEA__database__PASSWD={{vault_postgres_password}}
      - GITEA__server__SSH_PORT=2222
      - GITEA__server__LFS_START_SERVER=true
    ports:
      - "3000:3000"
      - "2222:22"

networks:
  gitea:
    external: false
