#!/bin/bash
# Managed by Ansible

# SPDX-License-Identifier: GPL-2.0
#
# Patched Version for IPv4-Update only
# Based on original from Jason A. Donenfeld

set -e
shopt -s nocasematch
shopt -s extglob
export LC_ALL=C

CONFIG_FILE="$1"
[[ $CONFIG_FILE =~ ^[a-zA-Z0-9_=+.-]{1,15}$ ]] && CONFIG_FILE="/etc/wireguard/$CONFIG_FILE.conf"
[[ $CONFIG_FILE =~ /?([a-zA-Z0-9_=+.-]{1,15})\.conf$ ]]
INTERFACE="${BASH_REMATCH[1]}"

process_peer() {
	[[ $PEER_SECTION -ne 1 || -z $PUBLIC_KEY || -z $ENDPOINT ]] && return 0

	local HOST="${ENDPOINT%:*}"
	local PORT="${ENDPOINT##*:}"

	local RESOLVED_IP
	RESOLVED_IP=$(getent ahosts "$HOST" | awk '/RAW/ {print $1}' | grep -v ":" | head -n 1)

	local TARGET_ENDPOINT
	if [[ -n "$RESOLVED_IP" ]]; then
		TARGET_ENDPOINT="$RESOLVED_IP:$PORT"
	else
		TARGET_ENDPOINT="$ENDPOINT"
	fi

	[[ $(wg show "$INTERFACE" latest-handshakes) =~ ${PUBLIC_KEY//+/\\+}\	([0-9]+) ]] || return 0

	(( ($EPOCHSECONDS - ${BASH_REMATCH[1]}) > 135 )) || return 0

	wg set "$INTERFACE" peer "$PUBLIC_KEY" endpoint "$TARGET_ENDPOINT"
	reset_peer_section
}

reset_peer_section() {
	PEER_SECTION=0
	PUBLIC_KEY=""
	ENDPOINT=""
}

reset_peer_section
while read -r line || [[ -n $line ]]; do
	stripped="${line%%\#*}"
	key="${stripped%%=*}"; key="${key##*([[:space:]])}"; key="${key%%*([[:space:]])}"
	value="${stripped#*=}"; value="${value##*([[:space:]])}"; value="${value%%*([[:space:]])}"
	[[ $key == "["* ]] && { process_peer; reset_peer_section; }
	[[ $key == "[Peer]" ]] && PEER_SECTION=1
	if [[ $PEER_SECTION -eq 1 ]]; then
		case "$key" in
		PublicKey) PUBLIC_KEY="$value"; continue ;;
		Endpoint) ENDPOINT="$value"; continue ;;
		esac
	fi
done < "$CONFIG_FILE"
process_peer
