[Interface]
PrivateKey = {{ vault_local_private_key }}
Address = {{ vault_address }}
PostUp = {{ vault_postup }}

[Peer]
PublicKey = {{ vault_remote_public_key }}
PresharedKey = {{ vault_psk }}
Endpoint = {{ wireguard_remote_ip }}:{{ vault_port }}
AllowedIPs = {{ vault_allowed_ips }}
PersistentKeepalive = 25
