---
- name: Install UFW
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: true
# deny everything what is not explicitly allowed
- name: Deny ALL (incoming & outgoing)
  community.general.ufw:
    policy: deny
    direction: "{{ item }}"
  loop:
    - incoming
    - outgoing

- name: Allow SSH from ironhide
  community.general.ufw:
    rule: allow
    src: "{{ item }}"
    port: 22
  loop:
    - "{{ ironhide }}"
    - "{{ ironhide_wifi }}"

- name: Allow DNS to Virtual IP and physical DNS servers
  community.general.ufw:
    rule: allow
    direction: out
    dest: "{{ item }}"
    port: 53
  loop:
   # virtual IP for DNS with CIDR (needs filtering)
    - "{{ virtual_ip_v4 | ipaddr('address') }}"
    - "{{ virtual_ip_v6 | ipaddr('address') }}"

    # physical DNS servers with IPs without CIDR
    - "{{ hostvars['shadow']['ansible_host'] }}"
    - "{{ hostvars['shadow']['ipv6_address'] }}"
    - "{{ hostvars['prowl']['ansible_host'] }}"
    - "{{ hostvars['prowl']['ipv6_address'] }}"

- name: Allow NTP (Time Sync)
  community.general.ufw:
    rule: allow
    direction: out
    port: 123
    proto: udp
# the wall: disallow internal communication (except rules above that are definied above)
- name: BLOCK all other internal outgoing traffic
  community.general.ufw:
    rule: deny
    direction: out
    dest: 192.168.13.0/24
# the internet: allow everything thas is not 192.168.13.x
- name: Allow HTTP/HTTPS to anywhere (Internet only due to rule order)
  community.general.ufw:
    rule: allow
    direction: out
    proto: tcp
    port: "{{ item }}"
  loop:
    - 80
    - 443
