---
- name: Install UFW
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: true

- name: Disable UFW
  community.general.ufw:
    state: disabled

- name: Reset UFW to factory defaults
  ansible.builtin.command: ufw --force reset
  changed_when: true

- name: Set secure default policies
  community.general.ufw:
    policy: "{{ item.policy }}"
    direction: "{{ item.direction }}"
  loop:
    - { direction: 'incoming', policy: 'deny' }
    - { direction: 'outgoing', policy: 'allow' }

- name: Allow SSH from ironhide
  community.general.ufw:
    rule: allow
    src: "{{ item }}"
    port: 22
  loop:
    - "{{ ironhide_ipv4 }}"
    - "{{ ironhide_wifi_ipv4 }}"

- name: Allow DNS to Virtual IP and physical DNS servers
  community.general.ufw:
    rule: allow
    direction: out
    dest: "{{ item }}"
    port: 53
    proto: any
  loop:
    - "{{ virtual_ipv4 }}"
    - "{{ virtual_ipv6 }}"
    - "{{ hostvars['shadow']['ansible_host'] }}"
    - "{{ hostvars['shadow']['ansible_host_ipv6'] }}"
    - "{{ hostvars['prowl']['ansible_host'] }}"
    - "{{ hostvars['prowl']['ansible_host_ipv6'] }}"

- name: Allow NTP (Time Sync)
  community.general.ufw:
    rule: allow
    direction: out
    port: 123
    proto: udp

# the wall: disallow internal communication (except rules above that are definied above)
- name: BLOCK all other internal outgoing traffic (ipv4, ipv6)
  community.general.ufw:
    rule: deny
    direction: out
    dest: "{{ item }}"
  loop:
    - 192.168.13.0/24 # ipv4
    - "fd69:efa6:36fd::/64" # ipv6 (ULA)

# the internet: allow everything thas is not 192.168.13.x
- name: Allow HTTP/HTTPS to anywhere (Internet only due to rule order)
  community.general.ufw:
    rule: allow
    direction: out
    proto: tcp
    port: "{{ item }}"
  loop:
    - 80
    - 443
