---
- name: Load encrypted secrets 
  include_vars:
    file: secrets.yml

- name: "Disable systemd-resolved"
  service:
    name: systemd-resolved
    state: stopped
    enabled: no
  ignore_errors: yes

- name: "Set temporary DNS (Quad9) for installation"
  copy:
    dest: /etc/resolv.conf
    content: "nameserver 9.9.9.9"
    force: yes

- name: "Install Unbound"
  apt:
    name: unbound
    state: present
    update_cache: yes

- name: "Download Root Hints"
  get_url:
    url: https://www.internic.net/domain/named.root
    dest: /var/lib/unbound/root.hints

- name: "Configure Unbound"
  copy:
    dest: /etc/unbound/unbound.conf.d/pi-hole.conf
    content: |
      server:
          verbosity: 0
          interface: 127.0.0.1
          port: 5335
          do-ip4: yes
          do-udp: yes
          do-tcp: yes
          root-hints: "/var/lib/unbound/root.hints"
          private-address: 192.168.0.0/16
          private-address: 172.16.0.0/12
          private-address: 10.0.0.0/8
    notify: Restart Unbound
    
- name: "Restart and Enable Unbound immediately"
  service:
    name: unbound
    state: restarted
    enabled: yes
    
- name: "Create Pi-hole config dir"
  file:
    path: /etc/pihole
    state: directory

- name: "Pre-seed setupVars.conf"
  template:
    dest: /etc/pihole/setupVars.conf
    content: |
      PIHOLE_INTERFACE={{ vault_pihole_interface }}
      PIHOLE_DNS_1={{ vault_pihole_dns_upstream }}
      PIHOLE_DNS_2={{ vault_pihole_dns_upstream }}
      INSTALL_WEB_SERVER=true
      INSTALL_WEB_INTERFACE=true
      LIGHTTPD_ENABLED=true
      IPV4_ADDRESS={{ ansible_default_ipv4.address }}/24
      QUERY_LOGGING=true

- name: "Download Installer"
  get_url:
    url: https://install.pi-hole.net
    dest: /tmp/install-pihole.sh
    mode: '0744'

- name: "Run Installer"
  shell: "/tmp/install-pihole.sh --unattended"
  args:
    creates: /usr/local/bin/pihole
  register: pihole_install_result  
  
- name: "Set Pi-hole Web Interface Password"
  shell: "pihole -a -p {{ vault_pihole_web_password }}"
  when: pihole_install_result.changed

- name: "Set local DNS to localhost (Pi uses itself now)"
  copy:
    dest: /etc/resolv.conf
    content: "nameserver 127.0.0.1"

- name: "Initial Gravity update to activate default blacklist"
  shell: "pihole -g"
  when: pihole_install_result.changed
