apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: apokata
  namespace: argocd
spec:
  description: "Default Project with global configurations"
  sourceRepos:
    - '*'
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  syncOptions:
    - RespectIgnoreDifferences=true
  ignoreDifferences:
    - group: ""
      kind: Secret
      jsonPointers:
        - /sops
