services:
  portainer_agent:
    image: portainer/agent:{{ group_vars_portainer_version }}
    container_name: portainer_agent
    restart: unless-stopped
    ports:
      - "9001:9001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - agent_network

networks:
  agent_network:
    name: portainer_agent_network
