:root {
  --md-accent-fg-color: #f97316;
  --md-accent-fg-color--transparent: rgba(249, 115, 22, 0.15);
  --md-typeset-a-color: #0284c7;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #0f172a;
  --md-default-bg-color--light: #1e293b;
  --md-default-bg-color--lighter: #334155;
  --md-accent-fg-color: #fb923c;
  --md-typeset-a-color: #38bdf8;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.5rem;
  width: auto;
}
