:root {
  --md-accent-fg-color: #f97316;
  --md-accent-fg-color--transparent: rgba(249, 115, 22, 0.15);
  --md-typeset-a-color: #0284c7;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #0f172a;
  --md-default-bg-color--light: #1e293b;
  --md-default-bg-color--lighter: #334155;
  --md-accent-fg-color: #fb923c;
  --md-typeset-a-color: #38bdf8;
}

.md-header {
  background-color: #0f172a !important;
}

.md-tabs {
  background-color: #1e293b !important;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.3rem !important;
  width: auto !important;
  margin: 0.1rem 0;
}

.md-header__inner {
  align-items: center;
}
