# Managed by Ansible
[Unit]
Description=Decrypt Disk
After=network-online.target wg-quick@{{ vault_interface }}.service
Wants=network-online.target wg-quick@{{ vault_interface }}.service
Before=proxmox-backup.service proxmox-backup-proxy.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/disk-decrypt.sh
StandardOutput=journal
StandardError=journal
