---
- name: Allow Runner to talk to Proxmox API
  community.general.ufw:
    rule: allow
    direction: out
    dest: "{{ pve_ip }}"
    port: 8006
    proto: tcp
    insert: 1
- name: Allow Runner to SSH into restricted hosts
  community.general.ufw:
    rule: allow
    direction: out
    dest: "{{ item }}"
    port: 22
    proto: tcp
    insert: 1
    comment: "Runner management access specific hosts"
  loop:
    - "{{ hostvars['shadow']['ansible_host'] }}"
    - "{{ hostvars['prowl']['ansible_host'] }}"
    - "{{ hostvars['tang']['ansible_host'] }}"
    - "{{ pve_ip }}"
