---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Ensure group "_tang" exists
  ansible.builtin.group:
    name: _tang
    state: present

- name: Ensure user "_tang" exists
  ansible.builtin.user:
    name: _tang
    group: _tang
    system: true
    shell: /usr/sbin/nologin
    create_home: false
    state: present

- name: Install tang package
  ansible.builtin.apt:
    name: tang
    state: present

- name: Verify key store settings
  ansible.builtin.file:
    path: /var/lib/tang
    state: directory
    owner: _tang
    group: _tang
    mode: '0700'

- name: Restore active keys
  ansible.builtin.copy:
    src: tang-keys/
    dest: /var/lib/tang/
    owner: _tang
    group: _tang
    mode: '0440'
  with_fileglob:
    - "tang-keys/*.jwk"
  notify: Restart tang socket
