---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600 

- name: Ensure group "_tang" exists
  group:
    name: _tang
    state: present

- name: Ensure user "_tang" exists
  user:
    name: _tang
    group: _tang
    system: yes
    shell: /usr/sbin/nologin
    create_home: no
    state: present

- name: Install tang package
  apt:
    name: tang
    state: present

- name: Verify key store settings 
  file:
    path: /var/lib/tang
    state: directory
    owner: _tang
    group: _tang
    mode: '0700'

- name: Restore active keys 
  copy:
    src: tang-keys/ 
    dest: /var/lib/tang/
    owner: _tang
    group: _tang
    mode: '0440'
  notify: Restart tang socket
